.data/
.github/
/edit*
.test-results/
test-results/
**/routeTree.gen.ts
node_modules/
dist/
playwright-report/
blob-report/
.vite/
.cache/
logs/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
.history
.eslintcache
coverage/
.tsbuildinfo
.env
.env.*
.envrc
yarn.lock
package-lock.json
pnpm-lock.yaml
